<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">

      <!-- buttons  -->
      <div class="col-xs-12 mb-3">
        <button 
          type="submit" 
          [disabled]="recipeForm.invalid"
          id="recipeSaveButton"
          class="btn btn-success mx-2">Save</button>
        <button 
          type="button" 
          class="btn btn-danger mx-2"
          (click)="onCancel()">Cancel</button>
        <span
          *ngIf="recipeForm.invalid"
          class="text-muted error-text">
          Enter Recipe info correctly bellow before submitting</span>
      </div>

      <!-- recipe name  -->
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name" class="form-label">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name">
          </div>
        </div>
      </div>

      <!-- image url  -->
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imgPath" class="form-label">Image URL</label>
            <input 
              type="text" 
              id="imgPath" 
              class="form-control" 
              formControlName="imgPath"
              #imgPathInput>
          </div>
        </div>
      </div>

      <!-- image preview  -->
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imgPathInput.value" alt="" class="image-responsive">
        </div>
      </div>

      <!-- recipe description  -->
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="desc" class="form-label">Description</label>
            <textarea id="desc" class="form-control" rows="4" formControlName="desc"></textarea>
          </div>
        </div>
      </div>

      <!-- recipe ingredients field  -->
      <div class="row" formArrayName="ingredients">
        <div 
          class="col-xs-12 row mb-3" 
          *ngFor="let ingControl of recipeIngredientsCtrl.controls ; let i = index" 
          [formGroupName]="i">
          <!-- ingredient name  -->
          <div class="col-xs-8">
            <input type="text" class="form-control" formControlName="ingName">
          </div>
          <!-- ingredient amount  -->
          <div class="col-xs-2">
            <input type="number" class="form-control" formControlName="ingAmount">
          </div>
          <!-- delete icon  -->
          <div class="col-xs-2">
            <button 
              class="btn btn-danger" 
              style="width: 100%;"
              type="button"
              (click)="onDeleteIngredient(i)">X</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button 
            type="button" 
            (click)="onAddIngredient()"
            class="btn btn-success">Add Ingredient</button>
        </div>
      </div>

    </form>
  </div>
</div>