<div class="row">
  <div class="col-xs-12">
    <form 
      (ngSubmit)="onSubmit()" 
      [formGroup]="ingredientForm" 
      autocomplete="off">

      <div class="row">
        <div class="col-sm-7 form-group">
          <label for="name" class="form-label">Name</label>
          <input 
            type="text" 
            id="name" 
            placeholder="Input ingredient name"
            class="form-control"
            formControlName="name">
            <span
              *ngIf="(ingredientForm.get('name')?.dirty || ingredientForm.get('name')?.touched) && ingredientForm.get('name')?.invalid"
              class="form-text text-danger">
              Enter a ingredient name
            </span>
        </div>

        <div class="col-sm-5 form-group">
          <label for="amount">Amount</label>
          <input 
            type="number"
            id="amount"
            placeholder="Input Amount"
            class="form-control"
            formControlName="amount">
            <span
              *ngIf="(ingredientForm.get('amount')?.dirty || ingredientForm.get('amount')?.touched) && ingredientForm.get('amount')?.invalid"
              class="form-text text-danger">
              Enter a valid amount
            </span>
        </div>

      </div>

      <div class="row">
        <div class="col-xs-12">
          <button 
            class="btn btn-success" 
            type="submit" 
            [disabled]="ingredientForm.invalid">
            {{ editingMode ? 'Update' : 'Add' }}
          </button>
          <button 
            class="btn btn-primary" 
            type="button" 
            (click)="onClear()">
            Clear
          </button>
          <button 
            class="btn btn-danger" 
            type="button"
            (click)="onDelete()"
            *ngIf="editingMode">
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>
</div>